golang-boilerplate

*~
*.out
*.zip
*.orig
*.dat
.DS_Store
dump.rdb
*.zip
*.csv
#*#

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
environment
main.env
vendor
vendor/*
_vendor
.vendor

.idea/*
.vscode
npm-debug.log